footer {
	background-color: $primary;
	min-height: 100vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	a {
		color: inherit;
	}

	form {
		width: 800px;
		margin: 20px auto;
		font-size: 1rem;
	}

	.flexContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 20px;

		input {
			width: 48%;
			border: none;
			padding: 10px;
			background-color: $background-color;
		}
		
		input:first-of-type {
			margin-right: 20px;
		}

		input::placeholder {
			color: $font-color;
		}
	}

	textarea {
		width: 100%;
		border: none;
		padding: 10px;
		height: 150px;
		margin-bottom: 20px;
		background-color: $background-color;

		&::placeholder {
			color: $font-color;
		}
	}

	button {
		max-width: 500px;
		width: 30%;
		padding: 10px;
		border: $border;
		background-color: $accent-4;
		transition: border $transition;
		
		&:hover {
			border: $border-hover;
		}
	}
}