footer {
	background-color: $primary;
	min-height: 100vh;
	text-align: center;
	padding: 120px 0 250px 0;

	h2 {
		padding-bottom: 20px;
	}

	a {
		color: inherit;
		transition: color $transition;
		font-size: 1.1rem;

		&:hover {
			color: $accent-4;
		}
	}

	form {
		max-width: 800px;
		margin: 20px auto;
		font-size: 1rem;
	}

	.flexContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 20px;

		input {
			width: 48%;
			border: none;
			padding: 10px;
			background-color: $background-color;
		}

		input:first-of-type {
			margin-right: 20px;
		}

		input::placeholder {
			color: lighten($font-color, 50%);
		}
	}

	textarea {
		width: 100%;
		border: none;
		padding: 10px;
		height: 150px;
		margin-bottom: 20px;
		background-color: $background-color;

		&::placeholder {
			color: lighten($font-color, 50%);
		}
	}

	button {
		max-width: 400px;
		width: 100%;
		padding: 10px;
		border: $border;
		background-color: $accent-4;
		transition: background-color $transition;

		&:hover {
			background-color: darken($accent-4, 10%);
		}
	}

	input:focus,
	textarea:focus {
		outline: 2px solid $accent-4;
	}

	button:focus {
		outline: 2px solid $font-color;
	}
}

@media (max-width: 585px) {
	footer {
		.flexContainer {
			flex-direction: column;
			margin-bottom: 0;

			input {
				width: 100%;
				margin-bottom: 20px;
			}

			input:first-of-type {
				margin-right: 0;
			}
		}
	}
}
