footer {
	background-color: $primary;
	margin: 0;
	padding: 20px 0;
	min-height: 100vh;

	.flexContainer {
		display: flex;
		justify-content: space-around;
	}

	.left {
		width: 30%;
		
		img {
			height: auto;
			display: block;
		}	
	}

	.right {
		padding-top: 20px;
	}

	ul {
		list-style: none;

		p {
			position: relative;
			top: -35px;
			left: 35px;
		}

		a {
			text-decoration: none;
			color: inherit;
		}
	}
	
	.copyright {
		text-align: center;
	}

}

@media all and (max-width: 700px) {
	
	footer {
		.flexContainer {
			flex-direction: column;
			
			.chunk {
				width: 70%;
				justify-content: center;
				align-items: center;
				margin: 0 auto;
			}

			img {
				margin: 0 auto;
			}

			ul {
				padding: 0;
			}

			li {
				text-align: center;
				margin: 10px auto;
			}

			p {
				position: static;
				text-align: center;
				margin: 0 auto;
			}
		}
	}
}

@media (max-width: 450px) {
	
	footer {
		.flexContainer {
			
			.left {
				width: 70%;
			}

			.right {
				width: 100%;
			}
		}

	}
}