.gallery {
  padding: 120px 0;
}

.galleryContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 40px 0;
  justify-content: space-between;

  .galleryItem {
    width: 32%;
    margin-bottom: 20px;
  }
}

@media (max-width: 900px) {
  .galleryContent {
    .galleryItem {
      width: 48%;
    }
  }
}

@media (max-width: 550px) {
  .galleryContent {
    .galleryItem {
      width: 100%;
    }
  }
}
