.gallery {
	padding: 120px 0;
}

.galleryContent {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 40px 0;

	.galleryItem {
		width: calc((100% / 3) - 60px);
		margin-right: 20px;
		margin-bottom: 20px;
	}
}

@media (max-width: 900px) {
	.galleryContent {
		.galleryItem {
			width: calc((100% / 2) - 40px);
		}
	}
}

@media (max-width: 550px) {
	.galleryContent {
		.galleryItem {
			width: calc(100% - 20px);
		}
	}
}