nav {
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: rgba($primary, 0.7);
    
    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    
    img {
        width: 90px;
        margin: 10px 0;
    }

    ul {
        display: flex;
        justify-content: space-around;
        margin: 0;
        padding: 10px 10px;
        flex: 1;
    }

    li {
        list-style: none;
        padding: 15px 0;
        border-radius: 10px;
        position: relative;

        a {
            font-family: $font-2;
            color: $font-color;
            font-size: 1rem;
            text-decoration: none;
            text-transform: uppercase;
            padding: 10px 0;
        }
    }

    li::after {
        content: '';
        position: absolute;
        bottom: 5px;
        right: 0;
        width: 0;
        height: 4px;
        background-color: $accent-4;
        transition: width $transition;
    }

    li:hover::after {
        width: 40px;
    }

    .submenu {
        display: none;
        // display: flex;
        position: absolute;

        li {
            padding: 0 20px;
        }
    }

    .menuDropdown:hover .submenu {
        
    }
}

.hamburger,
.exit-responsive {
    display: none;
}

.show.menu {
    display: block;
}

@media (max-width: 750px) {
    .hamburger,
    .exit-responsive {
        display: block;
        font-size: 1.7rem;
        margin: 0;
        padding: 20px 0;
    }

    .hamburger {
        position: fixed;
        padding-left: 20px;
    }

    nav {
        display: none;
        position: fixed;
        // top: 0;
        // left: 0;
        // right: 0;
        // bottom: 0;
        background-color: rgba($primary, 0.5);
        width: 100%;
        height: 100vh;
        text-align: right;
        // border-radius: 10px;
        // border: $border-hover;
        
        ul {
            display: flex;
            flex-direction: column;
        }
        
        i {
            color: $font-color;
            width: 100%;
        }

        a {
            font-size: 1.8rem;
            width: 25%;
            padding: 20px;
        }
    }
}