nav {
    position: fixed;
    width: 100%;
    z-index: 2;

    .wrapper {
        display: static;
    }

    ul {
        background-color: rgba($primary, 0.4);
        display: flex;
        justify-content: space-around;
        margin: 0;
        padding: 10px 10px;
    }

    li {
        list-style: none;
        padding: 15px 0;
        border-radius: 10px;
        position: relative;

        a {
            font-family: $font-2;
            color: $font-color;
            font-size: 1.8rem;
            text-decoration: none;
            text-transform: uppercase;
            padding: 10px;
        }
    }

    li::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 40px;
        height: 4px;
        background-color: $secondary;
    }

    li:hover li::after{
        width: 30px;
    }
}

.hamburger,
.exit-responsive {
    display: none;
}

.show.menu {
    display: block;
}

@media all and (max-width: 700px) {
    .hamburger,
    .exit-responsive {
        display: block;
        font-size: 2.8rem;
        margin: 0;
        padding: 20px;
    }

    nav {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $primary;
        width: auto;
        height: 100vh;
        border-radius: 10px;
        border: $border-hover;
        
        ul {
            display: flex;
            flex-direction: column;
        }
        
        i {
            color: $font-color;
            width: 100%;
        }

        a {
            font-size: 1.8rem;
            width: 25%;
            padding: 20px;
        }
    }
}