// vars
$primary: #b4c9fe;
$secondary: #656665;
$accent-1: #00272B;
$accent-2: #0FA3B1;
$accent-3: #993955;
$accent-4: #FFCAD4;

$font-color: #232323;
$background-color: rgb(247, 239, 239);

$font-1: 'Parisienne', cursive;
$font-2: 'Cabin', sans-serif;

$transition: 0.25s ease-in-out;

$border: 5px solid transparent;
$border-hover: 5px solid $secondary;




// mixins

// 

