// vars
$primary: #b4c9fe;
$secondary: #656665;
$accent-1: #00bcd4;
$accent-3: #dfaeb4;
$accent-4: #78c091;
$cupcake-accent: #958fb8;
$cupcake-accent-2: #cc903a;
$square-accent: #fed76d;
$tart-accent: #fbc0c6;
$other-accent: #c3d7c0;

$font-color: #232323;
$background-color: #fbfbf2;

$font-1: 'Parisienne', cursive;
$font-2: 'Cabin', sans-serif;

$transition: 0.25s ease-in-out;

$border: 5px solid transparent;
$border-hover: 5px solid $secondary;




// mixins


