// vars
$primary: #b4c9fe;
$secondary: #656665;
$accent-1: #00272b;
$accent-2: #0fa3b1;
$accent-3: #993955;
$accent-4: #ffcad4;

$font-color: #232323;
$background-color: #fffef8;

$font-1: 'Parisienne', cursive;
$font-2: 'Cabin', sans-serif;

$transition: 0.25s ease-in-out;

$border: 5px solid transparent;
$border-hover: 5px solid $secondary;

// mixins

//
